// Style for the home section

.container-home__fidgetCube {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    @media only screen and (min-device-width : 375px) and (max-device-width : 768px) and (orientation : portrait) {
        flex-flow:column;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
        flex-flow:column;
    }
}

.container__texteContainer {
    padding: 15% 0 0 5%;
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
        width: 100%;
        padding:25% 0 0 5%;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
        padding: 30% 0 0 5%;
    }
}

.container__texteContainer--subtitle {
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-left: 0.25em;
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
        font-size: 1.15em;
        margin-left: 0.25em;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
      font-size: 1.15em;
      margin-left: 0.25em;
    }
}

.container__texteContainer--headtitle {
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 3.5em;
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
        font-size: 1.8em;
        margin-left: 0.15em;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
      font-size: 1.8em;
      margin-left: 0.15em;
    }
}

.container__texteContainer--bodyText {
    width: 100%;
    font-family: $font-bodyText;
    font-size: 1.25em;
    font-weight: lighter;
    line-height: 1.4;
    margin-top: 1em;
    margin-left: 0.25em;
    padding-bottom: 1.25em;
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
        font-size: 1em;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
      // width:90%;
    }
}

.container__button {
    width: 50%;
    background-color: $background-color;
    color: $active-text-button;
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 0.75em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.3px;
    margin-left: 0.25em;
    padding: 1.5em 0;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.3s;
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
        width: 90%;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
        width: 90%;
    }

    &:hover {
        border: 1px solid $secondary-color;
        cursor: pointer;

        .container__button--text {
            color: $secondary-color;
        }
    }

    &:active {
        background-color: $active-background-button;

        .container__button--text {
            color: $active-text-button;
        }
    }
}

.container__button--text {
    transition: all 0.3s;
    color: #181818;
}

.container__imageContext {
    height: 100%;
    width: 50%;
    z-index: -2;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }
    @media only screen and (min-device-width : 375px) and (max-device-width : 768px) and (orientation : portrait) {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
          height: 40%;
      }
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
      width: 100%;
      height: 36%;
      display: flex;
      justify-content: center;
    }
}

.container__imageContext--image {
  position: absolute;
  bottom:0;
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    position: relative;
  }
}
// Style for the particular section
#particles-js {
    position: absolute;
    z-index: -3;
    width: 100%;
    top: 0;
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
        height: 100%;
    }
}
