.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background: white;
    z-index: 9000000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    opacity: 1;
    z-index: 98371690176084130748691379893068178;
    transition: opacity 0.75s ease-out 1s;
}

.loader.hide {
    opacity: 0;
    pointer-events:none;
}

.loader--illu {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 25%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
    line-height: 100vh;
    max-width: 100%;
}

.loader--state {
    font-family: $font-title;
    color: #7fbe6d;
    position: absolute;
    top: 65%;
    left: 0;
    margin:auto;
    right: 0;
}
