.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background: white;
    z-index: 9000000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    opacity: 1;
    transition: opacity 0.15s ease-out;
}

.loader.hide {
    opacity: 0;
    pointer-events:none;
}

.loader--illu {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 25%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
    line-height: 100vh;
    max-width: 100%;
}

.loader--state {
    font-family: $font-title;
}
