body{background:black}
svg{
	position:absolute;
	left:50%;top:50%;
	margin-left:-100px;margin-top:-100px;
	cursor:pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#text{
	fill:chocolate;
	font:normal 60px Arial;
	font-weight:bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#circle{
	stroke:chocolate;
	stroke-width:20;
	stroke-dasharray:502;
}
.setting{
	cursor:-webkit-grabbing;
	cursor:-moz-grabbing;
	cursor:grabbing;
}
