$background-color: #fefefe;
$text-color: #181818;
$primary-color: #9ED54C;
$secondary-color: #2F9BC2;
$button-color: grey;
$font-family-title: "Montserrat",Arial,sans-serif;
$font-family-body: "Source Sans Pro",Arial,sans-serif;

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.clear {
    clear: both;
}

.block_scroll {
  overflow: hidden;
}
