$background-color : #FAFAFA;
$primary-color : #9ED54C;
$secondary-color : #2F9BC2;
$text-color : #424242;

$hover-border-button : $primary-color;
$hover-background-button : rgba(35,25,66,0.75);
$hover-text-button : $background-color;
$hover-logo-button : $background-color;

$active-border-button : $primary-color;
$active-background-button : $background-color;
$active-text-button : #181818;
$active-logo-button : #181818;


@mixin slide {
  background-size:cover;
  width: 25%;
  height: 100vh;
  float: left;
  transition: ease 1s;
}
@mixin image($path) {
  background:url($path) no-repeat center;
}
