<div class="container-home__fidgetCube">
    <div class="container__texteContainer">
        <h2 class="container__texteContainer--subtitle">{{home.subtitle}}</h2>
        <h1 class="container__texteContainer--headtitle">{{home.headtitle}}</h1>
        <div class="container__texteContainer--bodyText">
          <p>{{home.text}}</p>
          <p>Fidget at work, in <strong>class</strong>, and at <strong>home</strong> in style.</p>
        </div>
        <a href="cube.html">
            <div class="container__button unselectable">
                <p class="container__button--text">{{home.buttontext}}</p>
            </div>
        </a>
    </div>
    <div class="container__imageContext">
        <img class="container__imageContext--image" src="dist/images/hand_fidget_photo.png" alt="Photo of the Fidget Cube">
    </div>
</div>
